@model Akademik.Application.DTO.RoomDTO.RoomDTO

@{
    ViewData["Title"] = "DeleteConfirmed";
}

<h2>Czy na pewno chcesz usunąć pokój @Html.DisplayFor(model => model.RoomNumber) ?</h2>
<div>
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
    </form>
</div>
