@model IEnumerable<Akademik.Application.DTO.RoomDTO.RoomDTO>

@{
    ViewData["Title"] = "Pokoje";
}

<h1>Rooms</h1>
<p>
    <a asp-action="Create" class="btn btn-secondary">Add new room</a>
</p>
<div class="row">
    @foreach (var item in Model) 
    {
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Numer pokoju: @item.RoomNumber</h5>
                <p class="card-text">Liczba łóżek: @item.NumberOfBeds</p>
                <p class="card-text">Dostępność: @if (item.IsAvailable == true)
                    {
                        <text>Tak</text>
                    }
                    else
                    {
                        <text>Nie</text>
                    }</p>
            </div>
        </div>

    }
</div>
