@{
    ViewData["Title"] = "Room Not Found";
}

<h1>Room Not Found</h1>
<p>The room with the specified number does not exist.</p>

<div>
    <a class="btn btn-black" asp-action="Index">Back to List</a>
</div>