@{
    ViewData["Title"] = "Witamy w systemie Akademik!";
}

<div class="text-center">
    <h1 class="display-4">Witaj w systemie Akademika!</h1>

    @if (!User.Identity.IsAuthenticated)
    {
        <p>
            <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Login">Zaloguj się</a>
            <a class="btn btn-secondary btn-lg" asp-area="Identity" asp-page="/Account/Register">Zarejestruj się</a>
        </p>
    }
    @if (User.IsInRole("Admin"))
    {
        <div class="d-flex justify-content-center">
            <div class="m-3">
                <a asp-controller="Resident" asp-action="List" class="btn btn-primary btn-lg shadow">
                    <i class="fas fa-home me-2"></i> Zarządzaj mieszkańcami
                </a>
            </div>
            <div class="m-3">
                <a asp-controller="Room" asp-action="Index" class="btn btn-secondary btn-lg shadow">
                    <i class="fas fa-wrench me-2"></i> Zarządzaj pokojami
                </a>
            </div>
        </div>
    }
    @if (User.IsInRole("User"))
    {
        <div class="d-flex justify-content-center">
            <div class="m-3">
                <a asp-controller="UserInfo" asp-action="Index" class="btn btn-primary btn-lg shadow">
                    <i class="fas fa-home me-2"></i> Twoje dane
                </a>
            </div>
            <div class="m-3">
                <a asp-controller="Room" asp-action="Index" class="btn btn-secondary btn-lg shadow">
                    <i class="fas fa-wrench me-2"></i> Zobacz pokoje
                </a>
            </div>
        </div>
    }

</div>
