@{
    ViewData["Title"] = "Welcome to the Dormitory System!";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Dormitory System!</h1>

    @if (!User.Identity.IsAuthenticated)
    {
        <p>
            <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Login">Log In</a>
            <a class="btn btn-secondary btn-lg" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </p>
    }
    @if (User.IsInRole("Admin"))
    {
        <div class="d-flex justify-content-center">
            <div class="m-3">
                <a asp-controller="Resident" asp-action="List" class="btn btn-primary btn-lg shadow">
                    <i class="fas fa-home me-2"></i> Manage Residents
                </a>
            </div>
            <div class="m-3">
                <a asp-controller="Room" asp-action="Index" class="btn btn-secondary btn-lg shadow">
                    <i class="fas fa-wrench me-2"></i> Manage Rooms
                </a>
            </div>
        </div>
    }
    @if (User.IsInRole("User"))
    {
        <div class="d-flex justify-content-center">
            <div class="m-3">
                <a asp-controller="UserInfo" asp-action="Index" class="btn btn-primary btn-lg shadow">
                    <i class="fas fa-home me-2"></i> Your Info
                </a>
            </div>
            <div class="m-3">
                <a asp-controller="Room" asp-action="Index" class="btn btn-secondary btn-lg shadow">
                    <i class="fas fa-wrench me-2"></i> View Rooms
                </a>
            </div>
        </div>
    }
    <div class="container mt-3">
        <h2 class="text-center mb-4">Meet the Team</h2>

        <div class="d-flex flex-column align-items-center">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="card-index shadow w-100 h-auto">
                        <img src="~/Media/Dawid.jfif" class="card-img-top" alt="Dawid Gala"S>
                        <div class="card-body h-100">
                            <h5 class="card-title m-2">Dawid Gala</h5>
                            <p class="card-text m-2">
                                Email: <a href="mailto:dawoltis9889@gmail.com" class="text-dark">dawoltis9889@gmail.com</a>
                            </p>
                            <p class="card-text m-2">
                                Phone: <a href="tel:+48600550509" class="text-dark">+48 600 550 509</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card-index shadow w-100 h-auto ">
                        <img src="~/Media/Hubert.jfif" class="card-img-top" alt="Hubert Bojda">
                        <div class="card-body h-100">
                            <h5 class="card-title m-2">Hubert Bojda</h5>
                            <p class="card-text m-2">
                                Email: <a href="mailto:hubert.bojda.work@gmail.com" class="text-dark">hubert.bojda.work@gmail.com</a>
                            </p>
                            <p class="card-text m-2">
                                Phone: <a href="tel:+48695273598" class="text-dark">+48 695 273 598</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
