@{
    ViewData["Title"] = "Welcome to the Dormitory System!";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Dormitory System!</h1>

    @if (!User.Identity.IsAuthenticated)
    {
        <p>
            <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Login">Log In</a>
            <a class="btn btn-secondary btn-lg" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </p>
    }
    @if (User.IsInRole("Admin"))
    {
        <div class="d-flex justify-content-center">
            <div class="m-3">
                <a asp-controller="Resident" asp-action="List" class="btn btn-primary btn-lg shadow">
                    <i class="fas fa-home me-2"></i> Manage Residents
                </a>
            </div>
            <div class="m-3">
                <a asp-controller="Room" asp-action="Index" class="btn btn-secondary btn-lg shadow">
                    <i class="fas fa-wrench me-2"></i> Manage Rooms
                </a>
            </div>
        </div>
    }
    @if (User.IsInRole("User"))
    {
        <div class="d-flex justify-content-center">
            <div class="m-3">
                <a asp-controller="UserInfo" asp-action="Index" class="btn btn-primary btn-lg shadow">
                    <i class="fas fa-home me-2"></i> Your Info
                </a>
            </div>
            <div class="m-3">
                <a asp-controller="Room" asp-action="Index" class="btn btn-secondary btn-lg shadow">
                    <i class="fas fa-wrench me-2"></i> View Rooms
                </a>
            </div>
        </div>
    }
    <div class="container mt-5">
        <h2 class="text-center mb-4">Meet the Team</h2>

        <div class="d-flex flex-column align-items-center">
            <div class="row">
                <div class="col-md-6">
                    <div class="card-index shadow w-100">
                        <img src="~/Media/Dawid.jfif" class="card-img-top-index" alt="Your Name">
                        <div class="card-body">
                            <h5 class="card-title m-2">Dawid Gala</h5>
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-index shadow w-100 ">
                        <img src="~/Media/Hubert.jfif" class="card-img-top-index" alt="Colleague Name">
                        <div class="card-body">
                            <h5 class="card-title m-2">Hubert Bojda</h5>
                           

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
