@{
    ViewData["Title"] = "Page Not Found";
}

<div class="container">
    <h1>404 - Page Not Found</h1>
    <p>Przepraszamy, ale strona, której szukasz, nie istnieje.</p>
    <a asp-controller="Home" asp-action="Index">Wróć do strony głównej</a>
</div>
