@model Akademik.Application.DTO.MalfunctionDTO.CreateMalfunctionDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CreateMalfunctionDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group p-2 row">
                <label asp-for="PhotoData" for="formFile" class="form-label col-md-2 mt-2"></label>
                <div class="col-md-10">
                    <input asp-for="PhotoData" class="form-control" type="file" id="formFile">
                    <span asp-validation-for="PhotoData" class="text-danger"></span>
                </div>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
