@model Akademik.Application.DTO.ResidentDTO.CreateResidentDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Create Resident</h2>
<form asp-controller="Resident" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group p-2 row">
        <label asp-for="PESEL" class="form-label col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="PESEL" class="form-control" />
            <span asp-validation-for="PESEL" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group p-2 row">
        <label asp-for="FirstName" class="form-label col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group p-2 row">
        <label asp-for="LastName" class="form-label col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <h3>Resident Details</h3>

    <div class="row">
        <div class="col-md-6 form-group p-2">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-group p-2">
            <label asp-for="StudentCardNumber" class="form-label"></label>
            <input asp-for="StudentCardNumber" class="form-control" />
            <span asp-validation-for="StudentCardNumber" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 form-group p-2">
            <label asp-for="City" class="form-label"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="col-md-4 form-group p-2">
            <label asp-for="Country" class="form-label"></label>
            <input asp-for="Country" class="form-control" />
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
        <div class="col-md-4 form-group p-2">
            <label asp-for="PostalCode" class="form-label"></label>
            <input asp-for="PostalCode" class="form-control" />
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group p-2">
            <label asp-for="Street" class="form-label"></label>
            <input asp-for="Street" class="form-control" />
            <span asp-validation-for="Street" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-group p-2">
            <label asp-for="PhoneNumber" class="form-label"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group p-2 row">
        <label asp-for="PhotoData" for="formFile" class="form-label col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="PhotoData" class="form-control" type="file" id="formFile">
        </div>
    </div>


    <h3>Room Assignment</h3>
    <div class="row">
        <div class="col-md-2">
            <label asp-for="RoomNumber" class="form-label">Wybierz pokój:</label>
        </div>
        <div class="col-md-10">
            <select asp-for="RoomNumber" class="form-control" asp-items="@(new SelectList(ViewBag.AvailableRooms, "RoomNumber", "RoomNumber"))">
                <option value="">-- Wybierz pokój --</option>
            </select>
            <span asp-validation-for="RoomNumber" class="text-danger"></span>
        </div>
        
    </div>

    <button type="submit" class="btn btn-primary">Create Resident</button>

</form>





<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
