@{
    ViewData["Title"] = "Resident Not Found";
}

<h1>Resident Not Found</h1>
<p>The resident with this PESEL does not exist.</p>

<div>
    <a class="btn btn-black" asp-action="List">Back to List</a>
</div>